.todo{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    height: 100vh;
    background: linear-gradient(#1EA896, #010403);
}

.Publicacionnn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 670px;
    border-radius: 16px;
    background-color: white;
    height: max-content;
    position: relative;
    margin: 50px auto;
}

.Publicacionnn img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    top: 0;
    left: 30px;
    margin: 0 20px;

}

.Publicacionnn .informacionPerfil{
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-right: 210px;
    font-size: 20px;
    font-weight: 500;
}

.Texto{
    margin: 20px auto;
    width: 100%;
}

.Texto img{
    border-radius: 10px;
    width: 500px;
    height: 220px;
}

.Publicacionnn .Interacciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 25%;
    margin-bottom: 10px;
    position: relative;

}

.Publicacionnn .Interacciones img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
}


.Publicacionnn .comentar:hover{
    padding: 10px;
    border: 1px solid rgba(0, 55, 255, 0.564);
    background-color: rgba(0, 0, 255, 0.319);
    transition: 2s all;
}


.Publicacionnn .corazon:hover{
    padding: 10px;
    border: 1px solid rgba(255, 17, 0, 0.564);
    background-color: rgba(255, 0, 0, 0.319);
    transition: 2s all;
}


.comentarPublicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    margin: 10px;
}

.comentarPublicacion input{
    margin: 0;
    width: 230px;
}

.comentarPublicacion button{
    margin: 4;
}

.comentarios{
    display: flex;
    height: 70px;
    width: 70%;
    border: 1px solid rgba(113, 112, 112, 0.399);
    margin: 20px;
    position: relative;
    border-radius: 10px;
}

.comentarios h5{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.comentarios .comentario{
    display: flex;

    margin: auto;
}

.todosComentarios{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.19);
    margin-top: 25px;
}

@media (max-width: 1040px){

    .Publicacionnn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 60%;
        border-radius: 16px;
        background-color: white;
        height: max-content;
        position: relative;
        margin: 50px auto;
    }

}

@media (max-width: 998px){
    .Publicacionnn{
        width: 60%;
    }

    .Publicacionnn .informacionPerfil{
        display: flex;
        align-items: center;
        width: 400px;
        height: 50px;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    .Publicacionnn .informacionPerfil{
        margin-right: 0px;
        margin-left: -100px;
        width: 200px;
    }

    .comentarios .comentario{
        margin: 30px auto;
    }

    .comentarPublicacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        
    }

    .comentarPublicacion input{
        width: 110px;
        margin: auto;
    }

    .comentarPublicacion button{
        width: 80px;
        
    }

    
}

@media (max-width: 430px){
    .Publicacionnn{
        width: 80%;
        margin: 50px auto;
    }
    
    .Publicacionnn .informacionPerfil{
        margin-right: 0px;
        margin-left: -90px;
    }

    .comentarios .comentario{
        margin: 30px auto;
    }

    .comentarPublicacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        
    }

    .comentarPublicacion input{
        width: 110px;
        margin: auto;
    }

    .comentarPublicacion button{
        width: 80px;
        
    }

}


@media (max-width: 375px){
    .Publicacionnn{
        width: 80%;
        margin: 50px auto;
    }
    
    .Publicacionnn .informacionPerfil{
        margin-right: 0px;
        margin-left: -90px;
        width: 200px;
    }

    .comentarios .comentario{
        margin: 30px auto;

    }

    .comentarPublicacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .comentarPublicacion input{
        width: 70px;
        font-size: 10px;
    }

    .comentarPublicacion button{
        width: 80px;
        font-size: 10px;
    }

}